<%- include('includes/header') %>
<div class="editform">
  <form
    class="row g-3 needs-validation"
    action="/listing/<%= item._id %>?_method=PATCH"
    method="POST"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail4"
        name="title"
        value="<%= item.title %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a Title.</div>
    </div>
    <div class="col-12">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="description"
        id="description"
        class="form-control"
        required
      >
<%= item.description %></textarea
      >
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please add a Description.</div>
    </div>
    <div>
      <label for="orgimg" class="form-label">Original Image</label><br />
      <img
        src="<%= orgImageUrl %>"
        alt="1"
        class="col-10 col-md-5 border border-secondary rounded"
        id="orgimg"
      />
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Upload New Image</label>
      <input
        type="file"
        class="form-control"
        id="inputPassword4"
        name="image"
      />
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
        name="price"
        value="<%= item.price %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a Price.</div>
    </div>
    <div class="col-6">
      <label for="inputAddress2" class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress2"
        placeholder="Apartment, studio, or floor"
        name="country"
        value="<%= item.country %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a Country.</div>
    </div>

    <div class="col-md-6">
      <label for="inputCity" class="form-label">Location</label>
      <input
        type="text"
        class="form-control"
        id="inputCity"
        name="location"
        value="<%= item.location %>"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please choose a Location.</div>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Check me out </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<%- include('includes/footer') %>
